# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files
*.js

# Ignore TypeScript build output directory
dist/

# Ignore environment configuration files
.env

# Ignore npm's debug log file
npm-debug.log

# Ignore yarn's debug log file
yarn-debug.log
yarn-error.log

# Ignore VSCode settings directory
.vscode/
